@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    /*src: url('fonts/BeVietnamPro-Regular.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    /*src: url('fonts/BeVietnamPro-Regular.ttf') format('truetype');*/
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    /*src: url('fonts/BeVietnamPro-Regular.ttf') format('truetype');*/
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

.enfarmLogo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 60px;
    z-index: 1;
}

.searchBtn,
.drawFarmBtn,
.undoSketchBtn,
.addSensorBtn,
.undoSensorBtn,
.basemapBtn,
.measureAreaBtn,
.measureLengthBtn,
.resetBtn,
.perspectiveBtn,
.locationBtn,
.sketchFarmBtn,
.northArrow,
.tutorialBtn {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.searchBtn i,
.drawFarmBtn i,
.undoSketchBtn i,
.addSensorBtn i,
.undoSensorBtn i,
.basemapBtn i,
.measureAreaBtn i,
.measureLengthBtn i,
.resetBtn i,
.perspectiveBtn i,
.locationBtn i,
.sketchFarmBtn i,
.northArrow i,
.tutorialBtn i {
    font-family: "Material Icons";
    font-size: 30px;
    color: #515151;
}


/****** START TUTORIAL BUTTON STYLES *******/
#tutorialBtn {
    position: fixed;
    top: 100px;
    left: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
#tutorialBtn i.material-icons {
    font-size: 20px;
    color: #515151;
}

/****** END TUTORIAL BUTTON STYLES *******/



/***** START AUTO-DETECT USER LOCATION *****/
.user-marker {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    animation: glowing 1s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }
}

/***** END AUTO-DETECT USER LOCATION *****/


/***** START SEARCH BUTTON FUNCTION *****/
.searchBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: none;
    position: absolute;
    height: 54px; /*adjust height of searchbar*/
    top: 25px;
    right: 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 2px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 420px;
    z-index: 10;
}

.searchInput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 2px;
    color: #515151;
    padding: 5px; /*adjust height of searchbar*/
    padding-left: 5px;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    display: flex;
    height: 28px;
    align-items: center;
    border-radius: 100px;
}

.searchButton {
    background-color: #ffffff00;
    border-radius: 0%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    padding-right: 36px
}

.searchButton i {
    color: #686868;
    font-size: 30px;
    padding-right: 0px;

}

.suggestionsContainer {
    position: absolute;
    top: 70px;
    left: 0;
    width: 370px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
    z-index: 5;
    display: none;

}

.suggestionsContainer::-webkit-scrollbar {
    width: 10px;
}

.suggestionsContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
}

.suggestionsContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
}

.suggestionsContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.suggestionsContainer div {
    padding: 5px;
    cursor: pointer;
}

.suggestionsContainer div:hover {
    background-color: #f2f2f2;
}

.suggestionItem {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    color: #515151;
}

.suggestionText {
    font-size: 16px;
    /* Adjust the font size as needed */
}

/* Add a new class to style the historical search places */
.historicalPlace {
    font-style: italic;
    color: #888888;
}

.gpsIcon {
    margin-right: 30px;
    margin-left: 20px;
    color: #a8a8a8;
    font-size: 30px;
}

/*spinning icon on search bar*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sync-spin {
    animation: spin 5s infinite linear;
}


/*Search results POI label*/
.marker-label {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
}


.suggestionItem .deleteButton {
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
    color: #777;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-left: auto;
}

.deleteButton:hover {
    color: #ff4d4d;
}

#clearAllBtn {
    font-size: 20px;
    background-color: #ffffff;
    color: #515151;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/***** END SEARCH BUTTON FUNCTION *****/


/***** START SWITCH BASEMAP BUTTON FUNCTION *****/

/*Basemap floating title*/
.basemapfloatingTitle {
    position: absolute;
    top: 4%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: slideDownUp 5s forwards;
}

@keyframes slideDownUp {
    0% {
        top: -100px; /* Start off-screen */
    }
    5% {
        top: 25px; /* Slide down to this position */
    }
    95% {
        top: 25px; /* Stay at this position for 10 seconds */
    }
    100% {
        top: -100px; /* Slide back up to off-screen */
    }
}

.basemapfloatingTitle .basemapTitle {
    font-size: 15px;
    color: #515151;
}


.basemapBtn {
    position: absolute;
    top: 235px;
    right: 25px;
    z-index: 1;
}

/*.basemapswitcher {
    position: absolute;
    top: 185px;
    right: 0px;
    z-index: 1;
}*/

.basemapSelector {
    position: absolute;
    left: 50%;
    height: 100%;
    top: 20px; /*adjust height of the slide out basemap selector*/
    bottom: 10px;
    transform: translateX(-50%) translateY(100%);
    width: 97%; /*adjust width of the slide out basemap selector*/
    max-height: calc(100% - 20px);
    border-radius: 20px 20px 0 0;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
}

.container-content { /*basemap selector header text*/
    padding: 20px;
    text-align: center;
    font-size: 10px;
    color: #515151;
}

.container-content .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.container-content .image-container img { /*basemap thumbnails*/
    width: 90%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px; /*border radius of the basemap thumbnails*/
}

.container-content .image-container .caption { /*basemap selector title/typetext*/
    font-size: 14px;
    /*font-weight: bold;*/
    margin-top: 5px;
    color: #515151;
}

.image-container>div {
    position: relative;
}

.image-container>div.selected .selected-basemap-circle {
    display: block;
}

.selected-basemap-circle { /*green selection circle*/
    position: absolute;
    bottom: 33px;
    right: 15px;
    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 50%;
    border: 3px solid white;
    display: none;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px green;
    }

    100% {
        box-shadow: 0 0 20px green;
    }
}

.close-bm-button { /*close X button*/
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: #ff4d4d;
}

.close-bm-button i {
    font-size: 30px;
}

/*Basemap Attribution*/
.isric-attribution,
.osm-attribution,
.mapbox-attribution,
.gebco-attribution {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    width: 300px; /*adjust size of the attribution banner width*/
}

.isric-attribution p,
.osm-attribution p,
.mapbox-attribution p,
.gebco-attribution p {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
}

.isric-attribution .hidden-link,
.osm-attribution a,
.mapbox-attribution a,
.gebco-attribution a {
    color: rgb(26, 154, 197);
    text-decoration: none;
}

.isric-attribution .close-button,
.osm-attribution .close-button,
.mapbox-attribution .close-button,
.gebco-attribution .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 30px;
    color: #515151;
    cursor: pointer;
}

.info-icon:hover,
.osminfo-icon:hover,
.mapboxinfo-icon:hover,
.gebcoinfo-icon:hover {
    cursor: pointer;
}


/* Basemap Legend */
/* Legend Containers */

/*Start Terrain Legend*/
.terrainlegend { /*the bounding container box*/
    position: absolute;
    top: 20px;
    right: 111px;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 15px 20px;
    width: 240px;
    height: 60px;
    font-family: Arial, sans-serif;
    display: none;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.terrainLegend {
    display: flex;
    flex-wrap: wrap;
}

.terraincolorValueContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.terraincolorBox { /*adjust the color boxes*/
    width: 14px;
    height: 8px;
}

.closeterrainLegend {
    text-align: right;
    margin-top: -5px;
    margin-right: -15px;
    margin-top: -10px;
}

.closeterrainLegend .material-icons {
    font-size: 30px;
    color: #ff4d4d;
    cursor: pointer;
}

.textContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
}

.terraincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.terrainicon {
    margin-right: 5px;
    margin-bottom: -10px;
    margin-top: -30px;
    margin-left: -10px;

}

.terraintext { /*title header Dia hinh*/
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: -10px;
    margin-top: -35px;
}

.low {  /*thap text*/
    text-align: left;
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 12px;
    margin-top: -5px;
}

.high { /*cao text*/
    text-align: right;
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 12px;
    margin-top: -5px;
}

/*End Terrain Legend*/

/*Start Carbon, Nitrogen, pH Legend*/
.carbonLegend,
.nitrogenLegend,
.phLegend {
    width: 60px;
    height: 210px;
    background-color: #ffffff;
    position: absolute;
    top: 35px;
    right: 100px;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 15px;
    display: none;
    z-index: 4;
}

/*.carbonLegend,
.phLegend,
.nitrogenLegend {
    right: 100px;
}*/

/* Legend Text Header measure unit */
.carbonLegend .text,
.nitrogenLegend .text,
.phLegend .text {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    text-align: center;
}


.closecarbonLegend,
.closenitrogenLegend,
.closepHLegend {
    position: absolute;
    top: 18px;
    right: 83px;
    background-color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
    display: none;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.closecarbonLegend i, /*close button*/
.closenitrogenLegend i,
.closepHLegend i {
    font-size: 25px;
    color: #ff4d4d;
    display: none;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 4;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Scrollbar */
.carbonLegend::-webkit-scrollbar,
.nitrogenLegend::-webkit-scrollbar,
.phLegend::-webkit-scrollbar {
    display: none;
}

.carbonLegend::-webkit-scrollbar-thumb,
.nitrogenLegend::-webkit-scrollbar-thumb,
.phLegend::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.carbonLegend::-webkit-scrollbar-track,
.nitrogenLegend::-webkit-scrollbar-track,
.phLegend::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Color Value Container */
.colorValueContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-top: 3px;
}

/* Color Box Legend*/
.colorBox {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 5px;

}

.carbonLegend,
.nitrogenLegend,
.phLegend {
    background-color: white;
    transition: background-color 0.3s ease;
}

.carbonLegend.transparent,
.nitrogenLegend.transparent,
.phLegend.transparent {
    background-color: transparent !important;
}

/*End Carbon, Nitrogen, pH Legend*/


/***** END SWITCH BASEMAP BUTTON FUNCTION *****/


/***** START MEASURE AREA AND LINE BUTTON FUNCTION *****/

.measureAreaBtn {
    position: absolute;
    top: 305px;
    right: 25px;
    z-index: 1;
}

.measureLengthBtn {
    position: absolute;
    top: 375px;
    right: 25px;
    z-index: 1;
}

.floating-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #515151;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

/*Tap to draw floating message*/
.floating-message i {
    font-size: 12px;
    animation-name: cycling-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes cycling-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/***** END MEASURE AREA AND LINE BUTTON FUNCTION *****/

/***** START SKETCH FARM BUTTON FUNCTION *****/

.sketchFarmBtn {
    position: absolute;
    top: 95px;
    right: 25px;
    z-index: 1;
}

.undoSketchBtn {
    position: absolute;
    top: 95px;
    right: 90px;
    background-color: #2b98fe;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.undoSketchBtn i {
    color: #ffffff;
}

.addSensorBtn {
    position: absolute;
    top: 165px;
    right: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.undoSensorBtn {
    position: absolute;
    top: 165px;
    right: 90px;
    background-color: #2b98fe;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.undoSensorBtn i {
    color: #ffffff;
}

/*Draw Farm Area Size*/
/*Finish Sketch/Drawing Button*/
.sketch-buttons {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    width: 800px;
    flex-wrap: nowrap;
    gap: 50px;
}

.finish-measuringArea,
.finish-measuringLength,
.finish-drawing,
.finish-addingsensor {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 100px;
    font-size: 35px;
    color: #515151;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.finish-measuringArea:hover,
.finish-measuringLength:hover,
.finish-drawing:hover,
.finish-addingsensor:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

/*finish drawing check icon*/
.check-icon {
    margin-right: 10px;
    font-family: 'Material Icons', sans-serif;
}

/***** END DRAW FARM BUTTON FUNCTION *****/

.northArrow {
    position: fixed;
    top: 480px;
    right: 33px;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 1;
    box-sizing: border-box;
}

.northArrow .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.northArrow i {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}


/***** END NORTH ARROW BUTTON FUNCTION *****/

/***** START MOBILE RESPONSIVENESS *****/

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Adjust map container height for smaller screens */
    .map {
        height: 300px;
    }

    /* Adjust button styles for smaller screens */
    .basemapBtn,
    .locationBtn,
    .searchBtn,
    .measureAreaBtn,
    .measureLengthBtn,
    .drawFarmBtn,
    .sketchFarmBtn,
    .northArrow,
    .resetBtn,
    .perspectiveBtn,
    .addSensorBtn,
    .undoSensorBtn,
    .undoSketchBtn,
    .tutorialBtn {
        font-size: 20px;
        padding: 8px 12px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {

    /* Adjust map container height for even smaller screens */
    .map {
        height: 200px;
    }

    /* Adjust button styles for even smaller screens */
    .basemapBtn,
    .locationBtn,
    .searchBtn,
    .measureAreaBtn,
    .measureLengthBtn,
    .drawFarmBtn,
    .sketchFarmBtn,
    .northArrow,
    .resetBtn,
    .perspectiveBtn,
    .addSensorBtn,
    .undoSensorBtn,
    .undoSketchBtn,
    .tutorialBtn {
        font-size: 16px;
        padding: 6px 10px;
    }
}

/***** END MOBILE RESPONSIVENESS *****/


/*
.hidden {
    display: none;
}
*/
/***** DELETE CONFIRM DIALOG BOX *****/
.dialog {     /*background blur*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(5px);
}

.dialog-content {
    background-color: white;
    padding: 90px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 80px;
    font-size: 20px;
    color: #515151;
    max-width: 100%;
    box-shadow: #515151;
}

/* Yes and Cancel Button*/
.dialog-button {
    font-size: 20px;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.hidden {
    display: none;
}

/****** START WINDY WEATHER STYLES *******/
:root {
    --iframe-width: 100%;
    --iframe-height: 100%;
    --button-font-family: 'Be Vietnam Pro', Arial, sans-serif;
    --button-font-size: 30px;
    /*--button-background-color: #000000; #a51e25*/
    --button-color: white;
    --button-border-radius: 9999px;
    --button-padding: 10px 10px;
    --icon-size: 35px;
}

#windyMapContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}

@media screen and (max-width: 767px) {
    #windyMapContainer iframe {
        width: var(--iframe-width);
        height: var(--iframe-height);
    }
}

#windyMapBtn {
    position: fixed;
    top: 160px;
    left: 30px;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    z-index: 5;
    padding: var(--button-padding);
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    font-weight: bolder;
    border-radius: var(--button-border-radius);
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    transition: width .3s ease-in-out, padding .3s ease-in-out;
    display: flex;
    align-items: center;
}

.windyMapBtn-text {
    animation: none;
}

.windyIcon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 4px;
}

/****** END WINDY WEATHER STYLE *******/


/***** CLEAR ALL DRAWINGS BUTTON *****/

#clearAllDrawingBtn {

    position: fixed;
    top: 480px;
    left: 36px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

#clearAllDrawingBtn i.material-icons {
    font-size: 18px;
    color: #ffffff;
}

/***** END CLEAR ALL DRAWINGS BUTTON *****/

/***** START USER LOCATION BUTTON *****/
.locationBtn {
    position: fixed;
    top: 235px;
    left: 25px;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.locationBtn i {
    /* Define the animation */
    animation: locationBtn-icon-animation 1s ease-in-out 3;
}

/***** END USER LOCATION BUTTON *****/

/****** START RESET BUTTON *******/
#resetBtn {
    position: fixed;
    top: 305px;
    left: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

#resetBtn i.material-icons {
    font-size: 30px;
    color: #515151;
    animation: resetBtn-icon-animation .5s ease-in-out;
}

/* Define the keyframes for the animation */
@keyframes resetBtn-icon-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/****** END RESET BUTTON *******/

/****** START 3D PERSPECTIVE BUTTON *******/
#perspectiveBtn {
    position: fixed;
    top: 375px;
    left: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

#perspectiveBtn i.material-icons {
    font-size: 30px;
    color: #515151;
}

.perspectiveSlider {
    position: fixed;
    top: 370px;
    left: 160px;
    width: 300px;
}

/* Styles for the range input */
.perspectiveSlider {
    position: fixed;
    top: 395px;
    left: 95px;
    width: 75px;
    height: 20px;
    background: #4c3a3a;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    appearance: none;
}

/* Styles for the slider thumb */
.perspectiveSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#perspectiveBtn.active {
    background-color: #00bfff;
}

#perspectiveBtn.active i.material-icons {
    color: #ffffff;
}

/****** END 3D PERSPECTIVE BUTTON *******/

/****** START ADDING FARMS AND SENSORS SUCCESS MESSAGE*****/
/* Floating container styles */
.addFloating-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 40px;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Slide-up animation class */
.slide-up {
    transform: translate(-50%, -50%) translateY(-50px);
    opacity: 1;
}

/* Slide-down animation class */
.slide-down {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 0;
}

/* Animation container styles */
.animationCheck {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}


/* Message styles */
.addMessage {
    text-align: center;
    font-size: 20px;
    color: #515151;
    margin-top: 10px;
}

/****** END ADDING FARMS AND SENSORS SUCCESS MESSAGE*****/

/***** START CURRENT ACTIVITY FLOATING TITLE ******/
.measuringAreafloatingTitle,
.measuringLengthfloatingTitle,
.sketchingFarmfloatingTitle,
.addSensorsfloatingTitle {
    position: fixed;
    top: -100px; /* Start off-screen */
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #ffffffc0;
    border-radius: 50px;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: slideDownUp 5s forwards;
}

@keyframes slideDownUp {
    0% {
        top: -100px; /* Start off-screen */
    }
    5% {
        top: 25px; /* Slide down to this position */
    }
    95% {
        top: 25px; /* Stay at this position for 10 seconds */
    }
    100% {
        top: -100px; /* Slide back up to off-screen */
    }
}

.addSensorsfloatingTitle .addSensorsTitle,
.sketchingFarmfloatingTitle .sketchingFarmTitle,
.measuringLengthfloatingTitle .measuringLengthTitle,
.measuringAreafloatingTitle .measuringAreaTitle {
    font-size: 14px;
    color: #515151;
}

.measuringAreafloatingTitle,
.measuringLengthfloatingTitle,
.sketchingFarmfloatingTitle,
.addSensorsfloatingTitle {
    display: none;
}

/***** END CURRENT ACTIVITY FLOATING TITLE ******/

/***** START STYLE FOR APPLYING GRID TYPE AND ROTATION *****/

.gridPropertiesContainer {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 7;
    width: 100%;
    height: fit-content;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.gridPropertiesContainer.visible {
    top: 25%;
    opacity: 1;
    display: block;
}


.gridAngleContainer {
    position: absolute;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
}

.gridAngleInputContainer {
    width: 200vh;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-weight: bold;
    color: #515151;
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    transition: top 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: -20px;
}

.gridAngleInputContainer label {
    margin-right: 0px;
}

.gridAngleInputContainer input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #898989;
    border-radius: 10px;
    width: 25px;
    position: relative;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
}

.gridAngleInputContainer button#apply-button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #e0e0e0;
    color: #515151;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.gridAngleInputContainer button#apply-button i.material-icons {
    font-size: 20px;
    /* Adjust the icon size */
    margin-right: 8px;
    /* Add space between icon and text */
}

/* To retain the hover effect, update the hover styles */
.gridAngleInputContainer button#apply-button:hover {
    background-color: #f5f5f5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.gridAngleInputContainer button#save-button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.gridAngleInputContainer button#save-button .material-icons-outlined {
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    font-size: 20px;

}

.gridAngleInputContainer.slide-down {
    top: 500%;
}

.gridTypeContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.gridTypeOptionBtn1,
.gridTypeOptionBtn2,
.gridTypeOptionBtn3 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    font-size: 13px;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    color: #515151;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 5px;
}

.gridTypeOptionBtn1:hover,
.gridTypeOptionBtn2:hover,
.gridTypeOptionBtn3:hover {
    background-color: #e6e6e6;
}

.gridTypeOptionBtn1.selected,
.gridTypeOptionBtn2.selected,
.gridTypeOptionBtn3.selected {
    background-color: #4CAF50;
    border: #4CAF50;
    color: white;
}

.gridTypeOptionBtn1.selected .material-icons-outlined,
.gridTypeOptionBtn2.selected .material-icons-outlined,
.gridTypeOptionBtn3.selected .material-icons-outlined {
    color: white;
}

.material-icons-outlined {
    margin-right: 10px;
    font-family: 'Material Icons Outlined';
    font-size: 25px;
    font-weight: normal;
    color: #515151;
}

#floatingWindow {
    position: fixed;
    bottom: 140px;
    left: 160px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

/***** END STYLE FOR APPLYING GRID TYPE AND ROTATION *****/


/*START Grid Type/Pattern Information Pill*/

#gridPatternInformation {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 6px;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #515151;
    width: fit-content;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 100%);
    opacity: 0;
    animation: slide-up 0.5s forwards, fade-in 0.5s forwards;
    animation-delay: 2.5s, 2.5s;
    white-space: nowrap;
    overflow: hidden;
    /*min-width: 100px;*/
}

/* Define the slide-up animation */
@keyframes slide-up {
    to {
        transform: translate(-50%, -50%);
    }
}

/* Define the fade-in animation */
@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.countContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 3px;
}

.countContainer img,
.countContainer .material-icons {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    color: #515151;
}

.countContainer p {
    margin: 0;
    font-size: 1em;
    display: inline;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*END Grid Type/Pattern Information Pill*/


/*START Style Retreieved Pill on map restart*/
.grid-info-pill {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    /*font-family: 'Be Vietnam Pro', Arial, sans-serif;*/
    /*font-size: 30px;*/
    display: flex;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /*overflow: hidden;*/
    /*align-items: center;*/
}

.grid-info-pill .pill-section {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

/*.grid-info-pill .pill-section:first-child {
    border-left: none;
}*/

.pill-value {
    margin-left: 3px; /*adjusts gaps between count and icons*/
    font-weight: bold;
    color: #515151;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 15px;
}

.hidden {
    display: none;
}

/*END Style Retreieved Pill on map restart*/

#moreInfoGridPropertiesWindow {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    font-size: 15px;
    color: #515151;
    text-align: justify;
    z-index: 10;
    overflow-y: scroll;
    display: none;
}

/* Custom styles for the scroll bar */
#moreInfoGridPropertiesWindow::-webkit-scrollbar {
    width: 8px;
}

#moreInfoGridPropertiesWindow::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#moreInfoGridPropertiesWindow::-webkit-scrollbar-thumb {
    background: #888;
}

#moreInfoGridPropertiesWindow::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dismiss-button {
    border-radius: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    position: absolute;
    left: 35%;
    transform: translate(-20%, -30%);
    margin: 20px 20px 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dismiss-button:hover {
    background-color: #00a8ff;
}


/****** START MAP SCALE LINE STYLE *******/
/* Map scale line container */
.ol-scale-line {
    position: fixed;
    bottom: 5vh;
    left: 30px;
    background: none;
    border: none;
    box-shadow: none;
    color: #515151;
    line-height: 1;
    margin: 0;
    padding: 0;
}

/* Map scale line inner */
.ol-scale-line-inner {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: #515151;
    padding: 3px 6px;
    font-size: 30px;
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
}

/* Map scale line pseudo elements */
.ol-scale-line-inner::before,
.ol-scale-line-inner::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 50%;
    background-color: #ffffff;
}

/* Map scale line pseudo elements positioning */
.ol-scale-line-inner::before {
    left: 25%;
}

.ol-scale-line-inner::after {
    right: 25%;
}


/****** END MAP SCALE LINE STYLE *******/


/****** START ELEVATTION PROFLE STYLE *******/
  .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }


        #elevation-container {
            position: fixed;
            bottom: 0;
            left: 50%; /* Position it at the horizontal middle */
            transform: translateX(-50%); /* Move it back by half of its width */
            width: 97%;
            height: 0;
            background-color: #ffffff;
            overflow: hidden;
            transition: height 0.5s;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0px 0px;
        }
        

        #elevation-text {
            font-size: 16px;
            /*font-weight: bold;*/
        }

        #icon-elevation-container {
            display: flex;
            align-items: center;
        }

        #icon-elevation-container .material-symbols-outlined {
            margin-right: 5px;
            /* Adjust spacing between icon and text as needed */
        }

        #elevation-container.open {
            height: 320px;
            width: ;
            /* Adjust the height as needed */
        }

        #chart {
            width: 100%;
            height: 200%;
            padding: 25px 10px;
        }

        #close-elevation-container {
            /*close button*/
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }


        #elevProfileBtn {
            position: fixed;
            top: 445px;
            right: 25px;
            background-color: #ffffff;
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            cursor: pointer;

        }

        #elevProfileBtn i.material-symbols-outlined {
            font-size: 30px;
            color: #515151;
        }

        #elevProfileBtn.active {
            background-color: #FF6666;
        }

        #elevProfileBtn.active i.material-symbols-outlined {
            color: #ffffff;
        }

        #finishdrawLineElevProfile {
            position: fixed;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .finish-drawLineElevProfile {
            background-color: #ffffff;
            padding: 15px 20px;
            border-radius: 100px;
            font-size: 35px;
            color: #515151;
            outline: none;
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Be Vietnam Pro', sans-serif;
        }

        .finish-drawLineElevProfile {
            cursor: pointer;
            background-color: #f1f1f1;
        }

        /*finish drawing check icon*/
        .check-icon {
            margin-right: 10px;
            font-family: 'Material Icons', sans-serif;
        }



        #min-elevation,
        #max-elevation {
            font-size: 10px;
            display: block;
            text-align: center;
            margin: 0px 10px;
            font-family: 'Be Vietnam Pro', sans-serif;
            color: #515151;
        }


        /***** START CURRENT ACTIVITY FLOATING TITLE ******/

        .generateElevationProfilefloatingTitle {
            position: fixed;
            top: -100px;
            /* Start off-screen */
            left: 50%;
            width: fit-content;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            background-color: #ffffffc0;
            border-radius: 50px;
            padding: 10px 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 2;
            animation: slideDownUp 5s forwards;
        }

        @keyframes slideDownUp {
            0% {
                top: -100px;
                /* Start off-screen */
            }

            5% {
                top: 25px;
                /* Slide down to this position */
            }

            95% {
                top: 25px;
                /* Stay at this position for 10 seconds */
            }

            100% {
                top: -100px;
                /* Slide back up to off-screen */
            }
        }

        .generateElevationProfileTitle {
            font-size: 14px;
            color: #515151;

        }

        .generateElevationProfilefloatingTitle {
            display: none;
        }

        /***** END CURRENT ACTIVITY FLOATING TITLE ******/

        .pointElevMap-Label {
            position: absolute;
            background-color: rgba(255, 225, 0, 0.8);
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 40px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            /*z-index: 9999;*/
        }

        .elevation-tool-disclaimer {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 1);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            max-width: 200px;
            font-size: 12px;
            text-align: justify;
            /* Add this to make the close button positioned relative to the container */
        }

        .close-ElevProfile-disclaimer-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 200px;
            background: none;
            border: none;
            cursor: pointer;
            color: #515151;
        }


        #info-ElevProfile-disclaimer-btn {
            /*info button*/
            position: absolute;
            top: 10px;
            right: 35px;
            cursor: pointer;
        }
